@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
/*font-family: 'Overpass', sans-serif;*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.card1,.card2{
    background-color: hsl(213, 19%, 18%);
    border-radius: 0.555rem;
    font-family: 'Overpass', sans-serif;
    width: 300px;
    font-size: 15px;
    padding: 1.5rem;
    font-weight: 400;
}

.image1 img{
    background-color: hsl(216, 14%, 21%);
    padding: 0.7rem;
    border-radius: 50%;
    margin-top:0;
}
.passage h1{
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: 700;
    margin-top: 0.5rem;
}
.passage p{
    color: hsl(216, 12%, 54%);
    margin-top: 0.5rem;
}
ul{
    list-style: none;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 1rem;
}
li .btn{
    background-color: hsl(216, 14%, 21%);
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    border: none;
    color: hsl(217, 12%, 63%);
    padding-top: 0.1rem; 
}


.submit{
    background-color: hsl(25, 97%, 53%);
    border: none;
    width: 100%;
    border-radius: 5rem;
    color: #fff;
    padding:0.6rem 0.6rem 0.5rem 0.5rem;
    margin-top: 1rem;
    text-transform:uppercase;
    letter-spacing: 0.1rem;
}

.card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}
.add{
    background-color: hsl(216, 14%, 23%);
    color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 1rem;
    padding: 0.4rem 0.6rem;
    margin: 0.5rem 0;
}
.card2 h2{
    margin: 0.4rem 0;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
.card2 p{
    color: hsl(216, 12%, 54%);
    margin: 0.5rem 0;
}
 .rate-again{
    background-color: hsl(25, 97%, 53%);
    border: none;
    width: 70%;
    border-radius: 5rem;
    padding:0.6rem 0.6rem 0.5rem 0.5rem;
    margin-top: 1rem;
    text-transform:uppercase;
    letter-spacing: 0.1rem;
    color: #fff;
}
.hidden{
    display: none;
}


@media (min-width:600px) {
    .card1,.card2{
        width: 350px;
    }
    li .btn:focus{
        background-color: hsl(217, 10%, 51%);
    }
    li .btn:hover{
        background-color:hsl(25, 97%, 53%) ;
        cursor: pointer;
    }
    .submit:hover{
        background-color: #fff;
        cursor: pointer;
        color: hsl(25, 97%, 53%);
    }
    .rate-again:hover{
        background-color: #fff;
        cursor: pointer;
        color: hsl(25, 97%, 53%);

    }
}

